@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Add this CSS to your stylesheets or use Tailwind CSS classes */

/* main */
.main-container {
  @apply flex min-h-screen flex-1 flex-col items-center bg-white px-6 pb-10 pt-28 max-md:pb-32 sm:px-10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.error-border {
  border: 2px solid red;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

.topbarHover {
  position: relative;
  text-decoration: none;
  color: black;
  transition: color 0.3s; /* Smooth color transition */

  &:hover {
    color: #00bcd4; /* Change color on hover */
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; /* Height of the underline */
    bottom: 0;
    left: 0;
    background-color: #00bcd4; /* Underline color */
    visibility: hidden;
    transform: scaleX(0); /* Initially invisible */
    transition: all 0.3s ease-in-out; /* Smooth scaling animation */
  }

  &:hover:before {
    visibility: visible;
    transform: scaleX(1); /* Show and scale the underline on hover */
  }
}

.text-outline {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

:root {
  --color-main: #d069e9;
  --color-main-second: #6c5ffb;
  --color-main-third: #79d9ff;
}

.input-minimalistic {
  @apply bg-transparent text-white focus:outline-none placeholder-neutral-300;
}

.filter-white {
  filter: invert(100%);
  transition: filter 0.3s ease;
}

.card {
  background: linear-gradient(
    49deg,
    #2d4de0 0,
    #9f71f0 30%,
    #fc6277 58%,
    #f8ef6f 95%
  );

  width: 380px;
  height: 400px;

  border-radius: 12px;

  position: relative;
}

.card-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 50px 40px;

  background-color: white;
  color: #ffffff;

  border-radius: 12px;

  transition: 0.2s ease;
}

.card:hover .card-container {
  border-radius: 10px;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

::selection {
  background: rgb(255, 219, 255);
  color: rgb(85, 8, 85);
}

/* academy custom cursor */

.circle {
  position: fixed;
  visibility: hidden;
  z-index: 100;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 200px;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

.cursorText {
  flex: auto;
  font-size: inherit;
  pointer-events: none;
  margin: auto;
}

.wrapper {
  height: 1080px;
  width: 500px;
  position: relative;
  margin: auto;
  background: #ccc;
  overflow: hidden;
}

.wrapper::after {
  height: 448px;
  width: 48px;
  content: "";
  position: absolute;
  border: solid 1px white;
}

.box {
  height: 20rem;
  width: 40rem;
}

.boxes {
  position: relative;
  bottom: -50px;
}
